  <nav class="navbar navbar-toggleable-md navbar-light bg-faded" id="navbar">
    <p class="navbar-brand navbar-center">TO DO</p>
      <div class="navbar-nav">

        <nav id="menu">
          <h2>my lists</h2>
          <a href="javascript:void(0)" id="closebtn" (click)="closeNav()">&times;</a>

          <button class="menulistbtn" [routerLink] = "['/main']">create new list</button><br/>
          <button class="menulistbtn" (click)="showList()">show lists</button>

          <ul *ngFor="let list of lists; let i = index;" id="listnames">
            <li>
              <a [routerLink] = "['/lists', i]">{{ list.name }}</a>
              <span (click)="deleteList(i)" id="deletelistbtn">&times;</span>
            </li>
          </ul>
          <br/><br/>
          <br/><br/><br/>
          <app-weather></app-weather>
        </nav>

        <span class="typcn typcn-th-menu navbtn" id="openbtn" (click)="openNav()"></span>
        <span class="typcn typcn-cog navbtn" id="settingsbtn" data-toggle="modal" data-target="#settingsmodal"></span>
      </div>
  </nav>

  <div class="modal fade" id="deletelistmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">ALERT!!!!!!!!!!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          are you sure?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="listAlert()">ok</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="settingsmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">settings</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          delete all lists
          <button type="button" class="btn btn-secondary" data-dismiss="modal" data-toggle="modal" data-target="#deletelistmodal">
            ok
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button>
        </div>
      </div>
    </div>
  </div>
