li {
  list-style-type: none;
  font-size: 20px;
  position: relative;
}

.checked {
  text-decoration: line-through;
}

.delete-icon {
  //display: inline-block;
  cursor: pointer;
  font-size: 30px;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: -0.32em;
  //padding: 16px 12px 16px;
}
